*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
:root{
    --color-background-start: rgba(255, 255, 255, 0.7);
    --color-background-end: rgba(255, 255, 255, 0.9);
    --color-text: #000;
    --color-back: #fff;
    --boarder-radius: 1.5em;
    --filter-brightness: 1;
    --filter-brightness-link: 1;
}
.backimg{
    background-image: url(cover.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;
    filter: brightness(var(--filter-brightness));
    transition: filter 0.5s ease;
}
.backmobile{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--color-back);
    z-index: 100;
}
.navbarcontainer{
    position: absolute;
    font-size: 1.2em;
    font-weight: normal;
    width: 20em;
    height: 12em;
    margin-top: 3.3em;
    padding-top: 0.3em;
    padding-right: 0.8em;
    right: 0;
    z-index: -60;
}
.navbar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10em;
    right: 0.8em;
    top: -12em;
    opacity: 1;
    transition: top 0.3s ease, opacity 0.3s ease-out;
    overflow: visible;
    z-index: -50;
}
.navbar a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    text-decoration: none;
    color: var(--color-text);
    background: linear-gradient(to left top, var(--color-background-start), var(--color-background-end));
    backdrop-filter: blur(0.5em);
    width: 100%;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-bottom: 0.4em;
    border-radius: var(--boarder-radius);
    transform: scale(1);
    filter: brightness(var(--filter-brightness-link));
    transition: transform 0.2s, filter 0.5s;
}
.navbar a:hover{
    transform: scale(1.05);
}
.navbar a:active{
    transform: scale(0.95);
}
.navbar img{
    position: static;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
}
.header{
    position: absolute;
    background: linear-gradient(to left top, var(--color-background-start), var(--color-background-end));
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0.8em;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: var(--boarder-radius);
    filter: brightness(var(--filter-brightness-link));
    transition: filter 0.5s;
    z-index: -50;
}
.header.title{
    left: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.header.icon{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 1.2em;
    height: 1.2em;
}
.header.icon.theme{
    left: 10.5em;
    transform: scale(1);
    transition: 0.2s;
}
.header.icon.theme:hover{
    transform: scale(1.05);
}
.header.icon.swap{
    left: 14.3em;
    transform: scale(1);
    transition: 0.2s;
}
.header.icon.swap:hover{
    transform: scale(1.05);
}
.header.icon.menu{
    right: 0.8em;
    transform: scale(1);
    transition: 0.2s;
    position: fixed;
}
.header.icon.menu:hover{
    transform: scale(1.05);
}
.header.icon.compass{
    right: 4.6em;
    transform: scale(1);
    transition: 0.2s;
}
.header.icon.compass:hover{
    transform: scale(1.05);
}
.links{
    position: absolute;
    width: 60%;
    z-index: -50;
    top: 65%;
    left: 20%;
    right: 20%;
}
.links img{
    position: static;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
}
.links a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    text-decoration: none;
    color: var(--color-text);
    background: linear-gradient(to left top, var(--color-background-start), var(--color-background-end));
    backdrop-filter: blur(0.5em);
    font-size: 1.2em;
    font-weight: normal;
    width: 20%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-radius: var(--boarder-radius);
    transform: scale(1);
    transition: transform 0.2s, color 0.05s, filter 0.5s;
    filter: brightness(var(--filter-brightness-link));
}
.links span{
    display: inline;
}
.links a:hover{
    transform: scale(1.05);
}
.links a:active{
    transform: scale(0.95);
}
@media only screen and (max-width: 1200px){
    .links span{
        display: none;
    }
    .links img{
        margin-right: 0;
    }
}
@media only screen and (max-width: 500px){
    .backmobile{
        display: flex;
    }
}